@model Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EventId" class="control-label">Event</label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VenueId" class="control-label">Venue</label>
                <select asp-for="VenueId" class="form-control" asp-items="ViewBag.VenueId"></select>
                <span asp-validation-for="VenueId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-sm btn-info me-1">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
